.sidebar {
  border-right: 1px solid #e8e8e8;

  .ant-menu {
    background: #f5f5f5;
    border-right: none;

    .ant-menu-item-group-title {
      color: #8c8c8c;
      font-size: 11px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }

    .ant-menu-item {
      color: #595959;
      font-weight: 500;

      &:hover {
        background: #e8e8e8;
        color: #1a1a1a;
      }

      &.ant-menu-item-selected {
        background: #e0e0e0;
        color: #1a1a1a;
        font-weight: 600;

        &::after {
          border-right-color: #1a1a1a;
        }
      }
    }
  }
}

.sidebar-collapse-btn {
  position: absolute;
  top: 15px;
  z-index: 1;

  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  background: #ffffff;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &:hover {
    background: #f0f0f0;
  }
}
